<a href="https://colab.research.google.com/github/rushikesh-dhumal/firstrepository/blob/main/Opportunity_Matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/srbhr/Naive-Resume-Matching.git

Cloning into 'Naive-Resume-Matching'...
remote: Enumerating objects: 545, done.
remote: Counting objects: 100% (104/104), done.
remote: Compressing objects: 100% (93/93), done.
remote: Total 545 (delta 51), reused 40 (delta 11), pack-reused 441
Receiving objects: 100% (545/545), 20.17 MiB | 10.71 MiB/s, done.
Resolving deltas: 100% (332/332), done.

In [2]:
!rm -rf /content/Naive-Resume-Matching/Job_Data.csv
!rm -rf /content/Naive-Resume-Matching/Resume_Data.csv
!rm -rf /content/Naive-Resume-Matching/Data/JobDesc
!rm -rf /content/Naive-Resume-Matching/Data/Resumes

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/Shareddrives/Fields Data/2. Innovation/Opportunity Matching/Job-Description-Parser-master/Resume_JD parser(spaCy)/input/UG_Orgs.csv')

In [5]:
df.reset_index(inplace=True)
df.drop_duplicates(subset=['Organization Name'], inplace=True)

In [6]:
df.head()

   index  ...                                        Description
0      0  ...  The organization supports children and youth. ...
1      1  ...                Implementing developmental programs
2      2  ...  Nankoma Area cooperative enterprise is a membe...
3      3  ...  Train and equip rural and urban people with di...
4      4  ...  Helping the children of HOCT to gain a better ...

[5 rows x 3 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163 entries, 0 to 170
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              163 non-null    int64
 1   Organization Name  163 non-null    object
 2   Description        163 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [8]:
!pip install python-docx
import docx

Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
     |████████████████████████████████| 5.6 MB 5.0 MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184507 sha256=5b0fbdc4df1996af89f33faf7d709eab9b213557d279f64699e223985a41df8b
  Stored in directory: /root/.cache/pip/wheels/f6/6f/b9/d798122a8b55b74ad30b5f52b01482169b445fbb84a11797a6
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

In [9]:
!mkdir /content/Naive-Resume-Matching/Data/JobDesc
!mkdir /content/Naive-Resume-Matching/Data/Resumes

Delete the resumes from the Data/Resumes folder. We'll load the organization descriptions in that folder. Also, delete all files from the Data/JobDesc folder and upload the TOR docx file there.

In [10]:
#Creating a separate docx file for each organization containing its description.
for org in list(df['Organization Name']):
  doc = docx.Document()
  doc_para = doc.add_paragraph(str(df.loc[df['Organization Name']==org, 'Description'].values[0]))
  save_name = '/content/Naive-Resume-Matching/Data/Resumes/' + str(org) + '.docx'
  doc.save(save_name)

In [11]:
!rm /content/Naive-Resume-Matching/requirements.txt
!rm /content/Naive-Resume-Matching/app.py
!rm /content/Naive-Resume-Matching/Distill.py
!rm /content/Naive-Resume-Matching/fileReader.py
!rm /content/Naive-Resume-Matching/Cleaner.py

In [ ]:
!pip install -r /content/Naive-Resume-Matching/requirements.txt

In [25]:
!python /content/Naive-Resume-Matching/fileReader.py

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [28]:
!streamlit run /content/Naive-Resume-Matching/app.py

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://34.73.143.198:8501

/usr/local/lib/python3.7/dist-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)
2022-02-15 14:18:09.980 Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/range.py", line 351, in get_loc
    return self._range.index(new_key)
ValueError: 1 is not in range

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/streamlit/script_runner.py", line 350, in _run_script
    exec(code, module.__dict__)
  File "/content/Naive-Resume-Matching/app.py", line 67, in <module>
    cells=dict(values=[Jobs['Context'][index]],
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/series.py", line 853, in __getitem__
    return self._get_value(key)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/series.py", line 961, in _get_value
    loc = self.index.get_loc(label)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/range.py", line 353, in get_loc
    raise KeyError(key) from err
KeyError: 1

  Stopping...
  Stopping...